/* ----------------- Nativos ----------------- */

header {
  background-color: #157146;
  padding: 0.75%;
}

h1 {
  font-size: 55px;
  font-weight: 750;
  text-align: center;
}

/* ----------------- Classes ----------------- */

.bloco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 0;
}

.frases {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45%;
}

.nota {
  margin-top: 2.5%;
}

.dogImg {
  width: 45%;
  border-radius: 20px;
}

.forms {
  width: 65%;
}

.button {
  background: #157146;
  color: white;
  border: none;
  height: 40px;
  border-radius: 5px;
  padding: 8px;
}

.greenFooter {
  background-color: #157146;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
  padding: 80px;
}

.contatos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5% 0px;
}

.blocoLink {
  display: flex;
  flex-direction: column;
}

#linkEmail {
  padding: 7.5px;
  width: 275px;
}

/* ID */
#Email {
  width: 71%;
  padding: 7.5px;
}
