/* ----------------- Classes ----------------- */
.button {
  background: #157146;
  color: white;
  border: none;
  height: 40px;
  border-radius: 5px;
  padding: 8px;
}
.contatos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px 0px;
}

.blocoLink {
  display: flex;
  flex-direction: column;
}

#linkEmail {
  padding: 7.5px;
  width: 275px;
}
